
/* Offline Google Fonts */

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(./fonts/google-fonts/TK3iWkUHHAIjg752HT8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(./fonts/google-fonts/TK3iWkUHHAIjg752Fj8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(./fonts/google-fonts/TK3iWkUHHAIjg752Fz8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(./fonts/google-fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./fonts/google-fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.3; }
}


.titleMain{
	  margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #c35611;
    font-family: 'Oswald';
    letter-spacing: 0;
    font-size: 42px;
    font-weight: bold;
}

#statusTitle.blink_me{
  color: #FFF !important;
}



.buttonSettings{
	margin: 0;
	padding: 10px;
	position: absolute;
    right: 0;
    top: 0;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: #9e693b;
}

.buttonSettings:hover, .buttonSettings:active, .buttonSettings:focus{
	color: #5a391c;
}

.mainTime{
	position: absolute;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffd394;
    font-family: 'Roboto';
    font-weight: 300;
    left: 15px;
    top: 10px;
}

.pendingOrder{
	margin: 0;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffd28c;
}


.orderSection{
	/*border-top: 1px solid #dc9c39;*/
    display: block;
    margin-top: 30px;	
}

.recentOrderHead{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald';
    color: #ffd28c;	
}

.lastOrder1{
	margin: 10px 0 0 0;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    color: #b77f27;
}

.lastOrder2{
	margin: 0;
    text-align: center;
    font-family: 'Roboto';
    font-size: 17px;
    color: #d69530;
}

.lastOrder3{
	margin: 2px 0 0 0;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    color: #d69530;
}

.orderTime{
	font-size: 60%;
	opacity: 0.8;
}

.stewardName{

}

.myLabel{
  font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
}



#infobar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    
    background-color: #c0392b; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}


#infobar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}




/*server error lock*/
#serverErrorLock, #applicationErrorLock{
  position: fixed; left: 0; top: 0; 
  z-index: 2000; width: 100%; height: 100%; 
  overflow: visible; 
background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




/* Wrapper */

  #wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
  }

    #wrapper > * {
      z-index: 1;
    }

    #wrapper:before {
      content: '';
      display: block;
    }

  #mainLock {
    position: relative;
    max-width: 27em;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
  }

    #mainLock .avatar {
      position: relative;
      display: block;
      margin-bottom: 1.5em;
    }

      #mainLock .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5em #ffffff;
        border: none;
      }

      #mainLock .avatar:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -3em;
        width: calc(100% + 6em);
        height: 1px;
        z-index: -1;
        background: #c8cccf;
      }

      .lockScreenInput{
        border: solid 1px #c8cccf; 
        width: 100%;
        height: 50px; text-align: center; font-size: 18px; border-radius: 4px;
        margin-bottom: 20px;
      }

      .lockScreenInput:focus, .lockScreenInput:active, .lockScreenInput:hover{
        border-color: #c0392b;
        outline: none;
      }

.settingsWindow{
    margin: 50px 50px 0 0;
    width: 100%;
    max-width: 600px;
    float: right;
    background: #FFF;
    border-radius: 5px;
    min-height: 400px;
    overflow: scroll;  
}

.settingsTitle{
     margin: 5px 15px;
    padding: 10px 0;
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 28px;
    color: #f39c12;
    border-bottom: 1px solid #f39c12; 
}





.modeSelectionIcon{
  background: none;
  opacity: 0;
  font-size: 14px;
  color: #FFF;
  position: absolute;
  right: 10px;
  top: 16px;
}

.selectedMode .modeSelectionIcon{
    opacity: 1 !important;
}

.billModalSelect{
  position: relative; display: none; width: 100%; 
  box-shadow: #90a6b1 3px 3px 6px 0px;
}

.billModeListedButton{
    position: relative;
    width: 100%;
    display: block;
    background: #1abc9c;
    color: #FFF !important;
    text-align: left;
    padding: 8px 35px 8px 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid #14987e !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.printerWindowClose{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 32px;
    background: #ffdead;
    color: #f39c12;
    cursor: pointer;
}

.printerWindowClose:hover, .printerWindowClose:active, .printerWindowClose:focus{
  background: #f39c12;
  color: #FFF;
}

.modeSelectionBrief{
  display: block;
  font-size: 10px;
  color: #beefd2;
  letter-spacing: 1px;
}

.selectedMode, .billModeListedButton:hover{
  background: #14987e !important;
}

.selectModeClose{
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 30px;
    width: 40%;
    text-align: right;
    line-height: 30px;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
    color: #848484; 
    display: none; 
    cursor: pointer;
}

.selectModeUnset{
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 30px;
    width: 40%;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
    color: #848484; 
    display: none; 
    cursor: pointer;
}

.selectModeClose:hover, .selectModeClose:active, .selectModeClose:focus,
.selectModeUnset:hover, .selectModeUnset:active, .selectModeUnset:focus{
  color: #ff7a7a;
}


.errorListingWindow{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.errorListingButton{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 42px;
    font-weight: bold;
    color: #ff9c8f;
    text-align: center;
    line-height: 1.8em;
    font-family: 'Oswald';
    background: #FF4B2B;
    cursor: pointer;
    transition: transform 0.3s;
}

.errorListingButton:hover, .errorListingButton:active, .errorListingButton:focus{
  transform: scale(1.1);
  color: #FFF;
}

.errorListingBlock{
    width: 640px;
    background: #FFF;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 5px;
}

#errorListingWindowRenderContent{
    max-height: 340px;
    overflow: scroll;
    display: block;
    padding: 10px;  
}

.errorListingTitle{
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 0;
    color: #dd4b39;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin: 5px 0 10px 10px;
    padding: 0;
}

.errorListingItem{
    display: block;
    padding: 8px 90px 8px 8px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #585353;
    position: relative;
    border: 1px solid #ffdddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.errorListingItem:hover, .errorListingItem:focus, .errorListingItem:active{
    background: #e24b5e;
    color: #FFF;
    border-color: #e24b5e;
}

.errorListingFixButton{
    cursor: pointer;
    width: 80px;
    padding: 3px;
    background: #e24b5e;
    text-align: center;
    right: 6px;
    top: 15px;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
}

.errorListingTryButton{
    cursor: pointer;
    width: 80px;
    padding: 3px;
    background: #19ad69;
    text-align: center;
    right: 6px;
    top: 15px;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
}

.errorListingTime{
    display: block;
    top: 0;
    font-size: 11px;  
}

.errorListingOwner{
  font-size: 80%;
  opacity: 0.8;
}

.systemError{
    font-size: 10px;
    font-weight: bold;
    background: red;
    color: #FFF;
    padding: 2px 4px;
    position: relative;
    top: -2px;  
}

.errorWarning{
  color: red;
}

.errorListingItem:hover .errorListingFixButton,
.errorListingItem:active .errorListingFixButton,
.errorListingItem:focus .errorListingFixButton,
.errorListingItem:hover .errorListingTryButton,
.errorListingItem:active .errorListingTryButton,
.errorListingItem:focus .errorListingTryButton{ 
    background: #FFF;
    color: #1abc9c;
}

.errorListingItem:hover .errorWarning,
.errorListingItem:active .errorWarning,
.errorListingItem:focus .errorWarning{ 
    color: #f39c12;
}

.errorListingItem:hover .systemError,
.errorListingItem:active .systemError,
.errorListingItem:focus .systemError{ 
    background: #f39c12;
}

.errorListWindowClose{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 32px;
    background: #ffdead;
    color: #f39c12;
    cursor: pointer;
    margin-right: 10px;
}

.errorListWindowClose:hover, .errorListWindowClose:active, .errorListWindowClose:focus{
  background: #f39c12;
  color: #FFF;
}



/* printer progress */
  #printerProgress {
    position: relative;
    background: none !important;
    padding: 0;
    text-align: left;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
  }

  #printerProgress .loadingText{
    font-size: 14px;
    color: #FFF;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 60px;
  }

  .printerLoadingIcon{
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .printerLoadingDoneIcon{
    width: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

@-webkit-keyframes quick_flash {
  from,
  to {
    opacity: 1;
  }

  50%{
    opacity: 0.2;
  }
}

@keyframes quick_flash {
  from,
  to {
    opacity: 1;
  }

  50%{
    opacity: 0.2;
  }
}

.quick_flash {
  -webkit-animation-name: quick_flash;
  animation-name: quick_flash;
  animation-duration: 1s;
}



@-webkit-keyframes fadeBG {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeBG {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade_background {
  -webkit-animation-name: fadeBG;
  animation-name: fadeBG;
  animation-duration: 1s;
}
